{% form_theme form 'themes/materialize-fields.html.twig' %}

<div class="modal-header">
    <h4>{{ 'Reset password'|trans }}</h4>
</div>

{{ form_start(form, {'action': path('reset')}) }}
    <div class="modal-body">
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
    </div>

    <div class="modal-footer">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}
