{% form_theme form 'themes/materialize-fields.html.twig' %}

<div class="modal-header">
    <h4>{{ title|trans }}</h4>
</div>

{{ form_start(form) }}
    <div class="modal-body">
        {{ form_row(form.title) }}
        {{ form_row(form.dateDeadline) }}
        {{ form_row(form.state) }}
    </div>

    <div class="modal-footer">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}
