{# Start Top Menu #}
<nav class="modal-listeners">
    {# Top Menu #}
    <div class="nav-wrapper z-depth-2">
        {# Logo #}
        <div>
            <a href="{{ path('home_index') }}" class="brand-logo">Logo</a>
        </div>

        {# SideNav trigger #}
        <div>
            <a href="#" data-target="sidenav-content" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>

        {# Locale Switcher trigger must be here to not hide on small screens #}
        <div class="right">
            <a href="" class="dropdown-trigger" data-target="dropdown-locales">
                <i class="material-icons">language</i>
            </a>
        </div>

        {# Security Actions trigger #}
        <div class="right">
            <a href="#" class="dropdown-trigger" data-target="dropdown-security">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <i class="material-icons">person</i>
                {% else %}
                    <i class="material-icons">person_outline</i>
                {% endif %}
            </a>
        </div>

        {# Top Menu content #}
        <div>
            {# Hide on small screens #}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ path('home_index') }}">{{ 'Home'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# End Top Menu #}

{# Top Menu content #}

{# Start Locale Switcher content #}
{% set route        = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params       = route_params|merge(app.request.query.all) %}

<ul id="dropdown-locales" class="dropdown-content">
    {% for locale in locales() %}
        <li>
            <a href="{{ path(route, params|merge({ _locale: locale.code })) }}">
                {{ locale.name|capitalize }}
            </a>
        </li>
    {% endfor %}
</ul>
{# End Locale Switcher content #}

{# Start Dropdown Security content #}
<ul id="dropdown-security" class="dropdown-content">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li>
            <a href="{{ path('account') }}" class="modal-trigger"
               data-target="materialize-modal">
                {{ 'Account'|trans }}
            </a>
        </li>

        <li>
            <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
        </li>

        <li>
            <a href="{{ path('reset') }}" class="modal-trigger"
               data-target="materialize-modal">
                {{ 'Reset password'|trans }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}" class="modal-trigger"
               data-target="materialize-modal">
                {{ 'Login'|trans }}
            </a>
        </li>

        <li>
            <a href="{{ path('register') }}" class="modal-trigger"
               data-target="materialize-modal">
                {{ 'Register'|trans }}
            </a>
        </li>
    {% endif %}
</ul>
{# End Dropdown Security content #}

{# Start SideNav content #}
<div>
    <ul id="sidenav-content" class="sidenav">
        <li>
            <a href="{{ path('home_index') }}" class="waves-effect">
                <i class="material-icons">home</i>
                {{ 'Home'|trans }}
            </a>
        </li>
    </ul>
</div>
{# End SideNav content #}

<div id="materialize-modal" class="modal"></div>
