{# Start Top Menu #}
<nav>
    {# Top Menu #}
    <div class="nav-wrapper z-depth-2">
        {# Logo #}
        <div>
            <a href="{{ path('home_index') }}" class="brand-logo">Logo</a>
        </div>

        {# SideNav trigger #}
        <div>
            <a href="#" data-target="sidenav-content" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>

        {# Locale Switcher must be here to not hide on small screens #}
        {% set route        = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        {% set params       = route_params|merge(app.request.query.all) %}

        <div>
            <ul class="right">
                {% for locale in locales() if locale.code != app.request.locale %}
                    <li>
                        <a href="{{ path(route, params|merge({_locale: locale.code})) }}">
                            <img src="{{ asset('build/images/lang/' ~ locale.code ~ '.png') }}"
                                 alt="{{ locale.code }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Top Menu content #}
        <div>
            {# Hide on small screens #}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ path('home_index') }}">{{ 'Home'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# End Top Menu #}

{# Top Menu content #}

{# Start SideNav content #}
<div>
    <ul id="sidenav-content" class="sidenav">
        <li>
            <a href="{{ path('home_index') }}" class="waves-effect">
                <i class="material-icons">home</i>
                {{ 'Home'|trans }}
            </a>
        </li>
    </ul>
</div>
{# End SideNav content #}
