{# see https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}
{# {{ dump(_context|keys) }}        - Shows available vars #}
{# {{ dump(form.parent.children) }} - Show form fields #}


{# Attributes #}
{%- block widget_attributes -%}
    {# Every first input in the form will be autofocused #}
    {% set is_autofocus = (name == form.vars.block_prefixes[2]) ? "autofocus" : false %}
    {% set is_disabled  = disabled ? "disabled" %}
    {% set is_required  = required ? "required" %}

    {%- set classes = attr.class|default('') ~ 'validate' -%}

    id="{{ id }}" name="{{ full_name }}" class="{{ classes }}"
    {{ is_autofocus }} {{ is_disabled }} {{ is_required }}

    {{ block('attributes') }}
{%- endblock widget_attributes -%}


{# Simple #}
{%- block form_widget_simple -%}
    {% set type     = type|default('text') %}
    {% set is_value = value ?? false %}

    {%- if type == 'range' or type == 'color' -%}
        {# Attribute 'required' is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    {%- set field_type = form.vars.block_prefixes[1] -%}

    {%-if type == 'text' and field_type not in ['date', 'time'] -%}
        <i class="material-icons prefix">short_text</i>
    {%- endif -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ is_value }}">
{%- endblock form_widget_simple -%}


{# Email #}
{%- block email_widget -%}
    {%- set type = type|default('email') -%}

    <i class="material-icons prefix">email</i>
    {{ block('form_widget_simple') }}
{%- endblock email_widget -%}


{# Password #}
{%- block password_widget -%}
    {%- set type = type|default('password') -%}

    <i class="material-icons prefix">security</i>
    {{ block('form_widget_simple') }}
{%- endblock password_widget -%}


{# Datetime #}
{%- block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div class="input-field col s6">
            {{- form_widget(form.date) -}}
            {{- form_label(form.date) -}}
            {{- form_errors(form.date) -}}
            {{- form_help(form) -}}
        </div>

        <div class="input-field col s6">
            {{- form_widget(form.time) -}}
            {{- form_label(form.time) -}}
            {{- form_errors(form.time) -}}
            {{- form_help(form) -}}
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}


{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {%- set attr = attr|default({})|merge({class: 'datepicker '}) -%}

        <i class="material-icons prefix">date_range</i>
        {{ block('form_widget_simple') }}

    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}


{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {%- set attr = attr|default({})|merge({class: 'timepicker '}) -%}

        <i class="material-icons prefix">access_time</i>
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}

        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}


{# Checkbox #}
{%- block checkbox_widget -%}
    {%- set type      = type|default('checkbox') -%}
    {# Add ability to make checkbox checked by default #}
    {%- set is_checked = data ? "checked" -%}

    {% set has_not_domain = translation_domain|default('') is same as(false) %}
    {% set domain         = translation_domain|default('messages') %}
    {% set params         = translation_parametrs|default({}) %}

    {%- set field_type   = form.vars.block_prefixes[1] -%}

    {# Label for checkbox will be rendered in checkbox widget block #}
    <{{ element|default('label') }}
        {%- if label_attr -%}
            {%- with { attr: label_attr } -%}{{ block('attributes') }}{%- endwith -%}
        {%- endif -%}
    >
        <input type="{{ type }}" {{ block('widget_attributes') }} {{ is_checked }}>
        <span>{{ has_not_domain ? label|trans : label|trans(params, domain)|raw -}}</span>
    </{{ element|default('label') }}>
{%- endblock checkbox_widget -%}


{# Button #}
{%- block button_attributes -%}
    {% set is_disabled = disabled ? "disabled" %}
    {% set classes     = attr.class|default('') ~ 'btn waves-effect waves-light' %}

    id="{{ id }}" name="{{ full_name }}" class="{{ classes }}" {{ is_disabled }}
    {{ block('attributes') }}
{%- endblock button_attributes -%}


{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {%- set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) -%}
        {%- elseif label is same as(false) -%}
            {%- set translation_domain = false -%}
        {%- else -%}
            {%- set label = name|humanize -%}
        {%- endif -%}
    {%- endif -%}

    {% set has_domain = translation_domain|default('') %}
    {% set domain     = translation_domain|default('messages') %}
    {% set params     = translation_parametrs|default({}) %}

    <button type="{{ type }}" {{ block('button_attributes') }}>
        {%- if type == 'submit' -%}
            <i class="material-icons right">send</i>
        {%- endif -%}

        {{- has_domain ? label : label|trans(params, domain) -}}
    </button>
{%- endblock button_widget -%}


{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}

    {{ block('button_widget') }}
{%- endblock submit_widget -%}


{%- block button_row -%}
    {%- set isCheckboxHere      = "termsAccepted" in form.parent.children|keys -%}
    {%- set is_full_width_row   = isCheckboxHere ? 's6' : 's12' %}
    {%- set div_wrapper_classes = "input-field col #{is_full_width_row}" %}

    {#<div {% with {attr: row_attr|default({class: div_wrapper_classes})} %}{{ block('attributes') }}{% endwith %}>#}
    {{- form_widget(form) -}}
    {#</div>#}
{%- endblock button_row -%}


{# Select #}
{%- block choice_widget_collapsed -%}
    {%- if required
        and placeholder is none
        and not placeholder_in_choices
        and not multiple
        and (attr.size is not defined or attr.size <= 1) -%}

        {% set required = false %}
    {%- endif -%}

    {% set is_multiple = multiple ? "multiple" %}
    {% set value       = value|default('') %}

    {% set has_domain          = translation_domain|default('') %}
    {% set domain              = translation_domain|default('messages') %}
    {% set params              = translation_parametrs|default({}) %}
    {% set is_placeholder_text = placeholder != '' %}

    <i class="material-icons prefix">filter_list</i>
    {# {{ dump(choices[0].attr) }} #}
    <select {{ block('widget_attributes') }} {{ is_multiple }}>
        {%- if placeholder is not none -%}
            <option value="{{ value }}">
                {{ is_placeholder_text ? has_domain ? placeholder : placeholder|trans(params, domain) }}
            </option>
        {%- endif -%}

        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}

            {{- block('choice_widget_options') -}}

            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}

        {%- set options = choices -%}

        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}


{# Label #}
{%- block form_label -%}
    {%- set field_type = form.vars.block_prefixes[1] -%}
    {% set blackHole = 'active' %}

    {% if form.vars.block_prefixes[1] == 'date' or form.vars.block_prefixes[1] == 'time' %}
        {# TODO: Something is eating an `active` class from my code. In any combination. o_O  #}
        {%- set label_attr = label_attr|default({})|merge({class: 'active' ~ ' active '~"#{blackHole} " ~ blackHole }) %}
    {% endif %}

    {%- if label is not same as(false) -%}
        {%- if not compound -%}
            {%- set label_attr = label_attr|merge({'for': id}) -%}
        {%- endif -%}

        {%- if required -%}
            {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')}) -%}
            {%- if label is empty -%}
                {%- if label_format is not empty -%}
                    {%- set label = label_format|replace({
                        '%name%': name,
                        '%id%': id,
                    }) -%}
                {%- else -%}
                    {%- set label = name|humanize -%}
                {%- endif -%}
            {%- endif -%}
        {% endif %}

        {% set has_not_domain = translation_domain|default('') is same as(false) %}
        {% set domain         = translation_domain|default('messages') %}
        {% set params         = translation_parametrs|default({}) %}

        {# Label for checkbox will be rendered in checkbox widget block #}
        {%- if field_type != 'checkbox' -%}
            <{{ element|default('label') }}
                {%- if label_attr -%}
                    {%- with { attr: label_attr } -%}{{ block('attributes') }}{%- endwith -%}
                {%- endif -%}
            >
                {%- if label is empty -%}{%- set label = name|humanize -%}{%- endif -%}
                {{- has_not_domain ? label|trans : label|trans(params, domain)|raw -}}
            </{{ element|default('label') }}>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label -%}


{# Rows #}
{%- block form_row -%}
    {%- set widget_attr = (help is not empty) ? { attr: {'aria-describedby': id ~"_help"} } : {} -%}
    {%- set attr        = row_attr|default({})|merge({ class: 'row' }) -%}

    {%- set field_type      = form.vars.block_prefixes[1] -%}
    {%- set halfWidthTypes  = ['checkbox', 'radio', 'date', 'time',] -%}
    {%- set notNeedRowTypes = ['checkbox', 'radio'] -%}
    {%- set is_full_width_row   = field_type not in halfWidthTypes ? 's12' : 's6' %}
    {%- set div_wrapper_classes = "input-field col #{is_full_width_row}" %}

    {%- if field_type != 'file' -%}
        {% if field_type not in notNeedRowTypes %}
            <div {% with attr %}{{ block('attributes') }}{% endwith %}>
                {% if field_type != 'datetime' %}<div class="{{ div_wrapper_classes }}">{% endif %}
        {% endif %}
                    {{- form_widget(form, widget_attr) -}}
                    {% if field_type != 'datetime' %}
                        {{- form_label(form) -}}
                    {% endif %}

                    {% if form_errors(form) is not empty %}
                        {{ form_errors(form) }}
                    {% elseif help is defined %}
                        {% if field_type != 'datetime' %}{{ form_help(form) }}{% endif %}
                    {% endif %}
        {% if field_type not in notNeedRowTypes %}
            {% if field_type != 'datetime' %}</div>{% endif %}
            </div>
        {% endif %}
    {%- else -%}
        <div class="row">
            {%- set hasAvatar = "avatar" in form.parent.children|keys and form.parent.vars.value.avatar != 'avatars/' -%}
            {%- set hasIcon   = "icon" in form.parent.children|keys and form.parent.vars.value.icon != 'icons/' -%}

            <div class="file-field input-field col {% if hasAvatar or hasIcon %}s10{% else %}s12{% endif %}">
                <div class="btn">
                    <span>
                        <i class="material-icons">file_upload</i>
                    </span>
                    {{- form_widget(form, widget_attr) -}}
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>

                {%- if form_errors(form) is not empty -%}
                    {{- form_errors(form) -}}
                {%- elseif help is defined -%}
                    {{- form_help(form) -}}
                {%- endif -%}
            </div>

            {% if hasAvatar %}
                <div class="col s2 center-align">
                    <img class="avatar-icon small" alt="user-avatar"
                         src="{{ uploaded_asset(form.parent.vars.value.avatar) }}">
                </div>
            {% endif %}

            {% if hasIcon %}
                <div class="col s1">
                    <img class="avatar-icon small" alt="task_icon"
                         src="{{ uploaded_asset(form.parent.vars.value.icon) }}">
                </div>
            {% endif %}
        </div>
    {%- endif -%}
{%- endblock form_row -%}


{# Errors #}
{%- block form_errors -%}
    {# Add custom attributes for Help messages errors.form.config.attributes.constraints is not empty and #}
    {%- if errors|length > 0 -%}
        {% set newArray = [] %}

        {%- for error in errors -%}
            <span class="helper-text red-text text-darken-2">
                {#{% if errors.form.config.options.constraints is not empty and error.cause %}#}
                {% if error.cause %}
                    <span class="inline-badge error-badge">{{ "Error"|trans }}</span>
                    {{- error.cause.message -}}
                    {% set newArray = newArray|merge([error.messageTemplate]) %}
                {% elseif error.messageTemplate in newArray %}
                    <span class="inline-badge error-badge">{{ "Error"|trans }}</span>
                    {{- error.message -}}
                    {% set newArray = newArray|merge([error.messageTemplate]) %}
                {% endif %}
            </span>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}


{# Help #}
{%- block form_help -%}
    {# Add custom attributes for Help messages #}
    {%- set custom_class = (help_attr.class|default('') ~ ' helper-text')|trim -%}
    {%- set custom_attr  = {
        class         : custom_class,
        'data-success': 'Ok'|trans,
        'data-error'  : 'Something wrong'|trans
    } -%}

    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge(custom_attr) -%}

        <span id="{{ id }}_help"{%- with { attr: help_attr } -%}{{ block('attributes') }}{%- endwith -%}>
            {%- if translation_domain is same as(false) -%}
                {{- help|trans -}}
            {%- else -%}
                {{- help|trans({}, translation_domain)|raw -}}
            {%- endif -%}
        </span>
    {%- endif -%}
{%- endblock form_help -%}


{# Form Start #}
{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}

    {%- set attr = attr|merge({
        class: (attr.class|default(''))|trim
    }) -%}

    {# Render the form #}
    <form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"
            {% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}
            {% if multipart %} enctype="multipart/form-data"{% endif %}
    >

    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}">
    {%- endif -%}
{%- endblock form_start -%}
