{% form_theme form 'themes/materialize-fields.html.twig' %}

<h4>{{ title|trans }}</h4>

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.password) }}
    {{ form_row(form.avatar) }}

    <div class="row">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}
