
<h1>{{ 'Users'|trans }}</h1>

<a href="{{ path('user_create') }}" class="btn-floating btn-large modal-trigger"
   data-target="materialize-modal">
    <i class="material-icons">add</i>
</a>

<table class="responsive-table highlight">
    <thead>
        <tr>
            {{ include('user/_table-headers.html.twig') }}

            <th scope="col">{{ 'Actions'|trans }}</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
                {{ include('user/_table-row.html.twig') }}

                {# User actions field #}
                <td class="center-align">
                    <a href="{{ path('user_details', {'id': user.id }) }}" class="modal-trigger"
                       data-target="materialize-modal">
                        <i class="material-icons">info_outline</i>
                    </a>

                    <a href="{{ path('user_update', {'id': user.id }) }}" class="modal-trigger"
                       data-target="materialize-modal">
                        <i class="material-icons">refresh</i>
                    </a>


                    <a href="{{ path('user_delete_confirm', {'id': user.id }) }}"
                       class="modal-trigger" data-target="materialize-modal">
                        <i class="material-icons">remove_circle_outline</i>
                    </a>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
