<td class="center-align">{{- user.id -}}</td>

<td class="center-align">
    <img class="avatar-icon small" src="{{- uploaded_asset(user.avatar) -}}">
</td>

<td>{{- user.nickname -}}</td>
<td>{{- user.email -}}</td>
<td>{{- user.roles|join(', ') -}}</td>
<td class="center-align">{{- user.tasks|length -}}</td>
